:root {
    --mango-blue: #3eaeff;
    --mango-dark-blue: #051f3275;
    --mango-bg: #343e4d;
    --mango-highlight: #0e609bc3;
    --mango-alt-bg: #32373d7d;
    --mango-modal: #32373dab;
    --mango-modal-footer: #2c333d;
    --mango-text: #9aa5be;
    --mango-table-border: #52585eaa;

    --padding: 20px;
    --logo-height: 5vh;
    --close-icon-size: 25px;
    --delete-icon-size: 20px;

    --modal-border-radius: 25px;
    --modal-opacity: 90%;
}

body {
    background-color: var(--mango-bg);
}

label {
    color: var(--mango-text);
}

input {
    height: 2rem;
    background-color: var(--mango-bg);
    border-radius: 5px;
    border-color: var(--mango-dark-blue);
    color: white;
    font-weight: bold;
    font-size: medium;
}

input:focus {
    outline: none !important;
    border-color: var(--mango-blue);
}

button {
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
    height: 50%;
}

.blur-bg {
    pointer-events: none;
    filter: blur(20px);
}

.primary-btn {
    color: white;
    border-color: var(--mango-dark-blue);
    background-color: var(--mango-blue);
}

.secondary-btn {
    color: var(--mango-blue);
    border: none;
    background-color: var(--mango-dark-blue);
}
