:root {
    --mango-blue: #3eaeff;
    --mango-dark-blue: #051f3275;
    --mango-bg: #343e4d;
    --mango-table-bg: #32373d7d;
    --mango-table-text: #9aa5be;
    --mango-table-border: #52585eaa;
    --padding: 20px;
    --logo-height: 5vh;
}

body {
    background-color: var(--mango-bg);
}
